.feature{
    margin-bottom: 155px;
    &-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-item + .feature-item{
        margin-top:  230px;
    }
    &-desc{
        margin-bottom: 37px;
    }
    &-content{
        max-width:  420px;
        width: 100%;
    }
    &-image{
        transform: translate(-56px);
    }
    &-item:nth-child(even) {
        flex-direction: row-reverse;
        .feature-image {
            transform: translate(28px);
        }
        .feature-content {
            padding-left: 90px;
            max-width: 510px;
        }
        .feature-heading {
            max-width: 256px;
        }
    }
    
}